.feedbackmain-container {
  width: 80%;
  margin: 0 auto;
  padding: 40px 0;
}

.feedbackmain-header {
  text-align: center;
  margin-bottom: 40px;
}

.feedbackmain-header h1 {
  font-size: 60px;
  margin-bottom: 10px;
  font-family:'HSGooltokki' ;
  color: #001f3f;
  margin-bottom: 10px;
  line-height: 2;
  letter-spacing: 10px;
}

.feedbackmain-header p {
  font-size: 18px;
  color: #666;
}

.feedbackmain-link {
  font-size: 17px;
  color: #0073e6;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  cursor: pointer;
}
.feedbackmain-link:hover {
  color: red;
}

.review-list {
  display: flex;
  flex-direction: column;
  gap: 30px; /* 각 리뷰 간 간격 */
}

.review-item {
  display: flex;
  gap: 20px; /* 아바타와 리뷰 내용 간 간격 */
  align-items: flex-start;
}

.review-avatar img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.review-content {
  flex: 1;
}

.review-content h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.review-content p {
  margin-bottom: 10px;
  line-height: 1.5;
  color: #555;
}

.review-author {
  font-size: 14px;
  color: #888;
}

.review-author span {
  margin-left: 10px;
  color: #aaa;
  font-size: 12px;
}

.read-more-link {
  font-size: 14px;
  color: #0073e6;
  text-decoration: none;
}
