.forgot_id-container{
  text-align: center;
  margin: 0 auto;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1000px; /* 고정된 너비 설정 */
  height: 1000px; /* 고정된 높이 설정 */
  position: relative; /* 절대 위치 요소의 기준이 되도록 설정 */
  }
  /* 로그인 헤더 */
  .forgot_id-header {
    font-family: 'HSGooltokki';
    position: absolute;
    top: 100px;
    width: 500px;
  }
  
  #forgot_id-title {
    color: #3b82f6;
    font-size: 40px;
    font-weight: bold;
    width: 500px;
    letter-spacing: 8px; /*글자 간격*/
    margin-bottom: 10px; /* underline과의 간격 좁히기 */
  }
  
  #forgot_id-underline {
    margin: 0 auto;
    width: 400px; /* 줄 길이 조정 */
    height: 5px;
    background: linear-gradient(to right, #3b82f6, #9ec0f8, #c7dcfd, rgb(240, 238, 255));
    border-radius: 10px;
  }
  
  /* 로그인 폼 그룹 스타일 */
  .forgot_id-formgroup {
    position: relative;
    
    display: flex;
    flex-direction: column;
    width: 400px; /* 부모 크기에 맞게 설정 */
    
  }
  
  .forgot_id-formgroup div {
    display: flex;
    align-items: center;
    margin-bottom: 20px; /* 아래 여백 추가 */
  }
  
  .forgot_id-formgroup input {
    height: 40px;
    width: calc(80% - 00px); /* 아이콘 공간을 제외한 너비 */
    border: none;
    outline: none;
    background-color: transparent;
    border: 2px solid #4b376bcc;
    border-radius: 20px;
    margin-left: 10px; /* 아이콘과의 간격 조정 */
    font-size: 20px;
    font-family: 'Cafe24Behappy';
    padding: 10px 20px;
    margin-bottom: 10px; /* input 간의 간격 확장 */
  }
  
  /* 로그인 버튼 스타일 */
  .forgotid-btn {
    width: 250px; /* 버튼 너비를 고정 설정 */
    height: 70px; /* 버튼 높이를 고정 설정 */
    background: #000000a5; /* 파란색 포인트 컬러 */
    color: white;
    border: none; /* 버튼에 테두리를 없앰 */
    font-size: 20px; /* 버튼 텍스트의 크기를 18px로 설정 */
    font-weight: bold;
    cursor: pointer; /* 버튼 위에 마우스를 올리면 커서가 손가락 모양으로 변경됨 */
    padding: 15px 30px;
    border-radius: 50px; /* 버튼 모서리를 25px로 둥글게 만듦 */
    position: absolute; /* 부모 컨테이너를 기준으로 절대 위치 지정 */
    top: 730px; /* 제목에서부터 고정된 거리 설정 */
    left: 50%;
    transform: translateX(-50%); /* 버튼의 중앙 정렬을 위한 이동 */
    z-index: 1000; /* 버튼이 다른 요소보다 위에 보이도록 설정 */
    letter-spacing: 10px;  /*글자간격*/
    font-family: 'Cafe24Behappy';
    
  }
  
  .forgotid-btn:hover {
    background-color: #3b82f6;
  }
  
  /* 로그인 추가 링크 스타일 */
  .forgot_id-additional_links {
    text-decoration: none;
    cursor: pointer;
    color: gray;
    opacity: 0.9;
    margin-top: 50px;
    font-family: 'Cafe24Decoschool';
    font-size: 16px;
    position: absolute; /* 위치를 절대값으로 설정 */
    top: 780px;; /* 버튼 바로 위에 위치 */
    left: 50%; /* 수평 중앙 정렬 */
    transform: translateX(-50%); /* 수평 중앙 정렬 */
    display: flex;
    justify-content: center;
    flex-direction: column;
    
  }
  
  #login-link:hover {
    color: #3b82f6;
  }
  #pw-link:hover {
    color: #3b82f6;
  }
  