.main-container {
    text-align: center;
    margin: 0 auto;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .main-header {
    margin-bottom : 100px;
  }
  .main-title {
    font-size: 100px;
    margin: 40px;
    color: #b183fc; /* 원하는 색상으로 변경 가능 */
  }
  .navbar {
    display: flex;
    justify-content: center;
    background-color: #333;
  }
 
  