/* Container */

.container .text{
    color : #3b82f6;
    font-size: 50px;
    font-family: 'HSGooltokki';
    letter-spacing: 10px;
    font-weight: bold;
    text-align: center ;
    margin : 0 auto;
    letter-spacing: 10px;  /*글자간격*/
    /* transform: rotate(-5deg); */
}


/* header */
/* .header .text {
    display: flex;
    flex-direction: column;
    gap : 1px;
    width: 105%;
    margin-top: 30px;
    text-align: center ;
    margin  : 0 auto;
} */
.header .underline{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 400px;
    height: 5px;
    background: linear-gradient(to right, #3b82f6, #9ec0f8, #c7dcfd, rgb(240, 238, 255));
    border-radius: 9px;
    margin-top: 5%;
    margin : 0 auto;
}


/* inputs (사용자 입력부분) */
 .input-container {
    position: relative;
    background-color: #ffffff;
    flex-direction: column;
    text-align:center;
    
    
 
}
.input-container input {
    width: 60%;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    border: 2px solid #4b376bcc;
    border-radius: 40px;
    margin: 10px;
    font-size: 16px;
    padding: 10px 30px 10px 10px;
}
.male_female{
    margin-right: 5%;
}

.input-container input ::placeholder {
    color: darkgray;
}

/* sign up (회원가입 성공버튼) */
.submit-container{
    display: flex;
    gap : 30px;
    width: 100%;
    flex-direction: column;
    text-align:center;
}

.submit{
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 70px;
    margin: 60px auto;
    color: #fff;
    background-color: #00000079;
    border-radius: 50px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    outline: none;
    letter-spacing: 5px;  /*글자간격*/
}
.submit:hover{
    background: #3b82f6;
}

#signup-homesubmit{
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 70px;
    margin: 30px auto;
    color: #fff;
    background-color: #00000079;
    border-radius: 50px;
    font-size: 20px;
    font-weight: bold;
    
    cursor: pointer;
    border: none;
    outline: none;
    letter-spacing: 5px;
}
#signup-homesubmit:hover{
    background: #3b82f6;
}

.underline{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 400px;
    height: 3px;
    background: lightgray;
    
}