/* 전체 페이지에 대한 css */

/* 폰트 */
@font-face {
  font-family: 'HSGooltokki';
  src: url('../src/fonts/HSGooltokki\ .ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HakgyoansimChilpanjiugaeTTF-B';
  src: url('../src/fonts/Hakgyoansim\ Chilpanjiugae\ TTF\ B.ttf') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Cafe24Meongi';
  src: url('../src/fonts/Cafe24Meongi-B-v1.0.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Cafe24Decozoo';
  src: url('../src/fonts/Cafe24Decozoo.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Cafe24Decoschool';
  src: url('../src/fonts/Cafe24Decoschool.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Cafe24Behappy';
  src: url('../src/fonts/Cafe24Behappy.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
}
/* ======================================================== */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
