
body {
    background : url('../assets/sleep.jpg') 
    no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing : antialiased;
    -moz-osz-font-smoothgin : grayscale;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;  
}

/* Container */
.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 420px;
    margin: 120px;
    padding: 30px 40px;
    padding-bottom: 30px;
    margin-top: 200px;
    border-radius: 20px;
    background-color: #fff;
    opacity: 0.9; /* 전체 투명도 조정 */
    box-shadow: 0 0 20px gray;
    /* 배경 투명하게 하기
    background: transparent;
    backdrop-filter: blur(50px); */

}
.container .text{
    color : #3c009d;
    font-size: 50px;
    font-weight: bold;
    text-align: center ;
    margin : 0 auto;
    letter-spacing: 10px;  /*글자간격*/
    /* transform: rotate(-5deg); */
}


/* header */
.header .text {
    display: flex;
    flex-direction: column;
    gap : 1px;
    width: 105%;
    margin-top: 30px;
    text-align: center ;
    margin  : 0 auto;
}
.header .underline{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 400px;
    height: 5px;
    background :#3c009d;
    border-radius: 9px;
    margin-top: 5%;
}


/* inputs (사용자 입력부분) */
 .input-container {
    position: relative;
    background-color: #ffffff;
}
.input-container input {
    width: 60%;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    border: 2px solid #4b376bcc;
    border-radius: 40px;
    margin: 10px;
    font-size: 16px;
    padding: 10px 30px 10px 10px;
}
.male_female{
    margin-right: 5%;
}

.input-container input ::placeholder {
    color: darkgray;
}

/* sign up (회원가입 성공버튼) */
.submit-container{
    display: flex;
    gap : 30px;
    margin: 60px auto;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background-color: #4c00b4;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}

